
<div ng-controller="Home">

	<div id="banner" class="section">
	<p> Marketing for the 21st Century</p>
	<p>ROI Focused | Results Driven</p>
	</div>

	<div id="about" class="section">
	<h3>About us</h3>
	<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
	</div>

	<div id="phil" class="section">
		<h3>Service philosophy</h3>
		<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

	</div>

	<div id="service" class="section">
		<h3>Services</h3>
		<div class="row">
			<div class="col-md-4">
				<flippy
	              class="fancy"
	              flip="['click']"
	              flip-back="['click']"
	              duration="800"
	              timing-function="ease-in-out">

        		<flippy-front id="hi" class="card">
         			 <h3>Paid Media</h3>
        		</flippy-front>

		        <flippy-back class="card">
		          <h3>Stuff</h3>
		        </flippy-back>

      			</flippy>
      			
			</div>
			<div class="col-md-4">
			
			<flippy
              class="fancy"
              flip="['click']"
              flip-back="['click']"
              duration="800"
              timing-function="ease-in-out">

        	<flippy-front class="card" >
          		<h3>Websites/SEO</h3>
        	</flippy-front>

	        <flippy-back class="card">
	          <h3>Stuff</h3>
	        </flippy-back>

	      	</flippy>
	      
	      </div>
			<div class="col-md-4">

			
				<flippy
	              class="fancy"
	              flip="['click']"
	              flip-back="['click']"
	              duration="800"
	              timing-function="ease-in-out">

	        	<flippy-front class="card">
	          		<h3>Strategy</h3>
	        	</flippy-front>

		        <flippy-back class="card">
		          <h3>Stuff</h3>
		        </flippy-back>

		      	</flippy>
		      
			</div>
		</div>

	</div>

	<div id="review" class="section">
		<h3>Marketing Review</h3>
		<div class="row">
			<div class="col-md-4">PPC</div>
			<div class="col-md-4">SEO</div>
			<div class="col-md-4">Social/Content</div>
		</div>
	</div>

	<div id="questions" class="section">
		<h3>Questions</h3>
	</div>

	<div>
	</div>

	</div>



</div>