
<div ng-controller="Home">

	<div id="banner" class="section">
	<p> Marketing for the 21st Century</p>
	<p>ROI Focused | Results Driven</p>
	</div>

	<div id="about" class="section">
	<h1>About us</h1>
	<p>Media Brothers Marketing is the result of passion mixed with results. We love working with businesses big and small to drive real world results </p>
	</div>

	<div id="phil" class="section">
		<h3>Service philosophy</h3>
		<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

	</div>

	<div id="service" class="section">
		<h1>Services</h1>
		<div class="row">
			<div class="col-md-4">
				<flippy
	              class="fancy"
	              flip="['click']"
	              flip-back="['click']"
	              duration="800"
	              timing-function="ease-in-out">

        		<flippy-front id="hi" class="card">
         			 <h3>Paid Media</h3>

        		</flippy-front>

		        <flippy-back class="card">
		          <p>We work hard to maintain close relationships with each platform, which allows us to update and optimize with every new change. This approach enables us to create highly effective ads</p>
		        </flippy-back>

      			</flippy>
      			
			</div>
			<div class="col-md-4">
			
			<flippy
              class="fancy"
              flip="['click']"
              flip-back="['click']"
              duration="800"
              timing-function="ease-in-out">

        	<flippy-front class="card" >
          		<h3>Creative and Production</h3>
        	</flippy-front>

	        <flippy-back class="card">
	          <p>This is what sets you apart from everyone else: The way you communicate to the world and the story you tell about your business. We will help you drive business goals through the use of content marketing. Depending on your goal we will create and manage content to match that.</p>
	        </flippy-back>

	      	</flippy>
	      
	      </div>
			<div class="col-md-4">

			
				<flippy
	              class="fancy"
	              flip="['click']"
	              flip-back="['click']"
	              duration="800"
	              timing-function="ease-in-out">

	        	<flippy-front class="card">
	          		<h3>Account Management/Strategy</h3>
	        	</flippy-front>

		        <flippy-back class="card">
		          <h3>To truly be successful in todays workspace you must be a master in not only strategy, but client service. Our team engages with our clients and inspire each otehr to produce excellent work.</h3>
		        </flippy-back>

		      	</flippy>
		      
			</div>
		</div>

	</div>

	<div id="review" class="section">
		<h1>Marketing Review</h1>
		<h3>Wondering how you stack up?</h3>
		<h3>We will provide you with a free marketing review for any one of the subjects you are curious about.</h3>
		<div class="row">
			<div class="col-md-4">PPC</div>
			<div class="col-md-4">SEO</div>
			<div class="col-md-4">Social/Content</div>
		</div>
	</div>

	<div id="questions" class="section">
		<h3>Questions</h3>
		<div>
		<form id="contactForm" name="contactForm">
			<div class="form-group">
			    <label for="InputName">Name</label>
			    <input  class="form-control" id="InputName" data-ng-model="InputName" placeholder="Name">
		  </div>

		  <div class="form-group">
		    <label for="InputEmail">Email address</label>
		    <input type="email" class="form-control" id="InputEmail" data-ng-model="InputEmail" placeholder="Email">
		  </div>

		  <div class="form-group">
		    <label for="InputPhone">Phone Number</label>
		    <input class="form-control" id="InputPhone" data-ng-model="InputPhone" placeholder="(555)555-5555">
		  </div>

		  <div class="form-group">
		    <label for="InputMessage">Message</label>
		    <textarea id="InputMessage" class="form-control" data-ng-model="InputMessage" rows="6">{{MessageIn}}</textarea>
		  </div>

		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check me out
		    </label>
		  </div>
		  <button type="submit" class="btn btn-primary" ng-click="sendMail()">Submit</button>
		</form>
	</div>

	<div>
	</div>

	</div>



</div>