<div ng-controller="MarketReview">

	<div class="section">
	<h1>Pay Per Click Marketing review</h1>
	<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
	</div>

	<div id="MRPPCForm" class="section emailForm">
		<div>
			<form class="contactForm" name="contactForm">
				<div class="form-group">
				    <label for="MRInputName">Name</label>
				    <input  class="form-control" id="MRInputName" data-ng-model="MRInputName" placeholder="Name">
			  </div>

			  <div class="form-group">
			    <label for="MRInputEmail">Email address</label>
			    <input type="email" class="form-control" data-ng-model="MRInputEmail" placeholder="Email">
			  </div>

			  <div class="form-group">
			    <label for="MRInputBusiness">Business</label>
			    <input class="form-control" data-ng-model="MRInputBusiness" placeholder="Business Name">
			  </div>

			  <div class="form-group">
			    <label for="MRInputWebsite">Website</label>
			    <input class="form-control" data-ng-model="MRInputWebsite" placeholder="Website">
			  </div>

			  <div class="form-group">
			    <label for="MRInputPhone">Phone Number</label>
			    <input class="form-control" data-ng-model="MRInputPhone" placeholder="(555)555-5555">
			  </div>

			  <div class="form-group">
			    <label for="MRPInputMessage">Message</label>
			    <textarea  class="form-control" data-ng-model="MRInputMessage" rows="6">{{MessageIn}}</textarea>
			  </div>

			  <button type="submit" class="btn btn-primary" ng-click="sendMail()">Submit</button>
			</form>
		</div>

	

	</div>

	<div class="section">
	<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
	</div>



</div>