<div ng-controller="MRSEO">

	<div class="section">
	<h1>Search Enginer Optimization Marketing review</h1>
	<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
	</div>

	<div id="mrseoForm" class="section emailForm">
		<div class="container">
		<div class="row">
			<form id="MRSEOcontactForm" class="contactForm" name="contactForm">
				<div class="form-group col-md-12">
				    <label for="MRSEOInputName">Name</label>
				    <input  class="form-control" id="MRSEOInputName" data-ng-model="MRSEOInputName" placeholder="Name">
			  </div>

			  <div class="form-group col-md-6">
			    <label for="MRSEOInputEmail">Email address</label>
			    <input type="email" class="form-control" id="MRSEOInputEmail" data-ng-model="MRSEOInputEmail" placeholder="Email">
			  </div>

			  <div class="form-group col-md-6">
			    <label for="MRSEOInputBusiness">Business</label>
			    <input class="form-control" id="MRSEOInputBusiness" data-ng-model="MRSEOInputBusiness" placeholder="Business Name">
			  </div>

			  <div class="form-group col-md-6">
			    <label for="MRSEOInputWebsite">Website</label>
			    <input class="form-control" id="MRSEOInputWebsite" data-ng-model="MRSEOInputWebsite" placeholder="Website">
			  </div>

			  <div class="form-group col-md-6">
			    <label for="MRSEOInputPhone">Phone Number</label>
			    <input class="form-control" id="MRSEOInputPhone" data-ng-model="MRSEOInputPhone" placeholder="(555)555-5555">
			  </div>

			  <div class="form-group">
			    <label for="MRSEOInputMessage">Message</label>
			    <textarea id="MRSEOInputMessage" class="form-control" data-ng-model="MRSEOInputMessage" rows="6">{{MessageIn}}</textarea>
			  </div>

			  <button type="submit" class="btn btn-primary" ng-click="sendMail()">Submit</button>
			</form>
		</div>
		</div>

	

	</div>

	<div class="section">
	<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
	</div>



</div>