/*#22292f
#455763
#1d2f29
#ccb291
#f2dcb1*/

body {
	background-color: #22292f;
	font-family: 'Playfair Display', serif;
}

.col-md-4 {
	padding-left: 0;
	padding-right: 0;
}


.contain {
	width: 100%;
	margin: 0;
	padding: 0px;
}

.container-fluid {
	padding: 15px;


}

.navbar {
	background-color: #f2dcb1;
	opacity: 0.8;
}

h1 {
	margin-top: 0;
}
h3 {
	margin-top: 0;
}

/*.navbar-brand {
	background-image: url("http://i.imgur.com/WhjgkfU.png");
	background-size: 250%;
	background-repeat:no-repeat;
	background-position: 45% 50%;
	max-width: 650px;
	width: 10vh;
	height: 300px;
	
}*/

.section {
	min-height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	text-align: center;
	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	
}

.half-section {
	height: 50vh;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

.service-section{
	min-height: 50vh;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
	text-align: left;
	color: white;
	
	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;

}

#Linfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 7vh;
	
}

#Linfo-inner {
	width: 80vw;
	max-width: 900px;
	text-align: left;
	font-size: 1.5em;
}

.LserviceRows {
	padding-left: 10vw;
	padding-right: 10vw;

}

#banner {
	background-image: url("http://i.imgur.com/NeeRdBW.jpg");
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 6vw;
	color: white;

	  text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

#banner-image {
	background-image: url("http://i.imgur.com/WhjgkfU.png");
	background-size: 250%;
	background-position: 47% 50%;
	max-width: 650px;
	width: 80vw;
	height: 50vh;
}

#about {
	background-image: url("http://i.imgur.com/83CKF0j.jpg");
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}

#about p {
	
	font-size: 1em;
	margin-top: 5vh;
}
#about h1 {
	
	font-size: 10vh;
	margin-bottom: 5vh;
}

#about-image {
	background-image: url("http://i.imgur.com/y3lprRv.png");
	background-size: 200%;
	background-position: 50% 20%;
	max-width: 650px;
	width: 80vw;
	height: 25vh;
}

.textBlock {
	max-width: 650px;
	width: 80vw;
}

#phil {
	background-image: url("http://i.imgur.com/WiRIfou.jpg");
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}


#phil p {
	
	font-size: 1em;
	margin-top: 5vh;
}
#phil h1 {
	
	font-size: 10vh;
	margin-bottom: 5vh;
}

#phil-image {
	background-image: url("http://i.imgur.com/E7FXVF6.png");
	background-size: 200%;
	background-position: 50% 50%;
	max-width: 650px;
	width: 80vw;
	height: 25vh;
}

#service {
	background-image: url("http://i.imgur.com/MCWlT7A.jpg");
	background-size: cover;
	background-position: 50%;
	padding-top: 17vh;
	

}


#serv-image {
	background-image: url("http://i.imgur.com/u9Pu5Kt.png");
	background-size: 200%;
	background-position: 50% 50%;
	max-width: 650px;
	width: 80vw;
	height: 25vh;
	margin: 0 auto;
}
.col-md-4 {
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
}

.card {
	background-color: black !important;
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}


#review {

	background-image: url("http://i.imgur.com/PPJcLBm.jpg");
	background-size: cover;
	background-position: 50%;
	padding-top: 17vh;
	
	
}

#review-image {
	background-image: url("http://i.imgur.com/P550n1q.png");
	background-size: 200%;
	background-position: 50% 50%;
	max-width: 650px;
	width: 80vw;
	height: 25vh;
	margin: 0 auto;
}



.Rsec {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 50vh;
	height: 50vh;
	background-color: black;
	opacity: 0.8;
	padding-top: 5vh;
	padding-left: 2.5vh;
	padding-right: 2.5vh;
}

.emailForm {
	background-image: url("http://i.imgur.com/rEy1Y4W.jpg");
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15vh;
	
	
}

.contactForm {

	width: 80vw;
	max-width: 900px;
}


#footer {
	background-color: #22292f;
	color: #f2dcb1;
}